*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  align-items: end;
  width: 1140px;
  height: 534px;
  gap: 30px;
  margin: 133px 30px 133px 30px;
  /* display: flex;
  flex-direction: row;
  vertical-align: bottom;
  width: 1140px;
  height: 534px;
  margin: 133px 30px 133px 30px;
  justify-content: space-between;
  align-content: center;
  gap: 30px; */
}

.result {
  display: flex;  
  margin-top: 78px;
  flex-direction: column;
  max-width: 711px;
  min-height: 456px;
  align-items: end;
  /* width: 711px;
  height: 456px;
  padding-top: 62px; */
}
.result__video-container{
  position: relative;
  width: 711px;
  height: 386px;
  padding-bottom: 16px;

}
.content__list {
  width: 399px;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
}

.result__video {
  width: 100%;
  padding-bottom: 16px;
  object-fit: cover;
}

.search-form {
  display: flex;
  /* flex-direction: row; */
  align-items: flex-end;
  /* justify-content: space-between; */
  row-gap: 40px;
  width: 711px;
  height: 54px;
}

.content__details {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 74px;
  text-transform: uppercase;
  line-height: 0.97;
  font-family: Oswald, sans-serif;
  margin-bottom: 20px;
}

.content__accent {
  color: rgba(84, 80, 80, 1);
}

.content__video-card-description-container {
  color: #fff;
}

.content__video-card-title{
  font-size: 30px;
  font-family: Oswald, sans-serif;
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content__video-card-description {
  font-family: 'Fira Sans Condensed', sans-serif;
  text-transform: capitalize;
  font-size: 18px;
  flex-wrap: wrap;
  line-height: 0.8;
}

.result__video-container {
  position: relative;
}

.content__list-item:not(:nth-last-child(2)) {
  margin-bottom: 30px;
  /*задать вертикальный отступ всем кроме последнего элемента*/
}

.content__card-link {
  text-decoration: none;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
}

.content__video-card-thumbnail {
  width: 50%;
  
}

.content__video-card-description-container {
  width: 50%;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
} 

.search-form__fieldset {
  border: none;
  /* align-items: center; */
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 6px;
}

.search-form__label {
  width: fit-content;
  display: flex;
  gap: 5px;
}

.button,
.checkbox,
.search-form__label-text {
  cursor: pointer;
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  min-width: 212px;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 5px;
}

.search-form__textfield {
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
  border-left: 0px;
  border-right: 0px;
  width: 225px;
  height: 27px;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: transparent;
  appearance: none;
}

.search-form__textfield:focus {
  outline: none;
  box-shadow: none;
  color: #fff;
}

.search-form__textfield:not(:focus) {
  color: rgba(0, 0, 0, 0.5); /* цвет текста серый без фокуса */
}

.search-form__fieldset-title {
  font-size: 18px;
  font-family: 'Fira Sans Condensed', sans-serif;
  /* align-items: flex-start; */
}

.button {
  width: 100%;
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  height: 34px;
}

.search-form__submit-button {
  max-width: 194px;
}

.search-form__pseudo-checkbox {  
  display: block;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;

}

.search-form__checkbox:checked + span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-form__checkbox:checked + span::before {
  content: '';
  background-color: #fff;
  width: 15px;
  height: 15px;
  display: block;
}
