*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  flex-direction: row;
  width: 1140px;
  height: 534px;
  justify-content: space-between;
  gap: 30px;
  margin: 133px 0 0 30px;
}

.search-form {
  display: flex;
  justify-content: space-evenly;
  gap: 40px;
}

.content__details {
  width: 399px;
  height: 534px;
  display: flex;
  flex-direction: column;
}

.result {
  display: flex;
  flex-wrap: wrap;
  align-content: end;
}

.result__video-container {
  position: relative;
  width: 711px;
  margin-bottom: 11px;
}

.result__video {
  width: 711px;
  height: 386px;
  object-fit: cover;
}

.search-form {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  row-gap: 40px;
  width: 711px;
  height: 54px;
}

.title {
  font-size: 74px;
  text-transform: uppercase;
  line-height: 0.97;
  font-family: Oswald, sans-serif;
  margin-bottom: 20px;
}

.content__accent {
  color: rgba(84, 80, 80, 1);
}

.content__list {
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  max-width: 399px;
}

.content__video-card-title{
  font-size: 30px;
  font-family: Oswald, sans-serif;
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content__video-card-description {
  font-family: 'Fira Sans Condensed', sans-serif;
  text-transform: capitalize;
  font-size: 18px;
}

.content__list-item:not(:last-child) {
  margin-bottom: 30px;
}

.content__card-link {
  text-decoration: none;
  display: block;
  margin: 3px;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  width: 200px;
  height: 101px;
  color: #fff;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
} 

.search-form__fieldset {
  border: none;
  /* align-items: center; */
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 6px;
}

.search-form__label {
  width: fit-content;
  display: flex;
  gap: 5px;
}

.button,
.checkbox,
.search-form__label-text,
.search-form__pseudo-checkbox {
  cursor: pointer;
}

.search-form__textfield {
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
  border-left: 0px;
  border-right: 0px;
  width: 225px;
  height: 27px;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: transparent;
  appearance: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid сolor;
}

.search-form__textfield:focus {
  outline: none;
  color: #fff;
}

.search-form__textfield:not(:focus) {
  color: rgb(255, 255, 255);
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
  color: #fff;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
  color: #fff;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-family: 'Fira Sans Condensed', sans-serif;
}

.button {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  height: 34px;
}

.search-form__submit-button{
  width: 194px;
}

.more-button {
  width: 399px;
  margin: 2px;
}

.search-form__submit-button {
  max-width: 194px;
}

:is(.button, .search-form__label-text, .content__video-card):hover {
  text-decoration: underline;
  color: #fff;
}

:is(.button, .content__video-card):active {
  background-color: rgba(84, 80, 80, 1);
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  min-width: 212px;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 3px;
}

.search-form__pseudo-checkbox {  
  display: block;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
}

.search-form__checkbox:checked + span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-form__checkbox:checked + span::before {
  content: '';
  display: block;
  background-color: #fff;
  width: 15px;
  height: 15px;
  border: 1px solid #fff;
}