*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  flex-direction: row;
  width: 1140px;
  gap: 30px;
}

.result {
  display: flex;
  flex-wrap: wrap;
  align-content: end;
}

.content__details {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 26px;
}

.content__list-item:not(:last-child) {
  margin-bottom: 30px;
}

.result__video-container {
  position: relative;
  width: 711px;
  margin-bottom: 10px;
}

.search-form {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  row-gap: 40px;
  width: 711px;
}

.title {
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
  font-family: Oswald, sans-serif;
}

.content__list {
  position: relative;
  overflow-y: auto;
  max-height: 296px;
}

.content__card-link {
  text-decoration: none;
  display: block;
  margin: 3px;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.button {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  padding: 6px 0 6px 0; /* вместо высоты добавить отсутпы */
  cursor: pointer;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

.more-button {
  width: 98%;
  margin: 2px;
}

.result__video {
  width: 711px;
  height: 386px;
  object-fit: cover;
}

.search-form__fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 6px;
}

.search-form__textfield {
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
  border-left: 0;
  border-right: 0;
  width: 225px;
  height: 27px;
  font-family: inherit;
  font-size: 18px;
  background-color: transparent;
  color: #fff;
  appearance: none;
}

/*сбросить фокус текста + */
/*сбросить фокус бокса + */
/*сбросить фокус кнопок + */
/*сбросить фокус карточек + */
.search-form__textfield:focus {
  outline: none;
}
.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
  color: #fff;
}

.search-form__submit-button {
  min-width: 194px;
}

.content__accent {
  color: rgba(84, 80, 80, 1);
}

.content__video-card {
  display: flex;
  width: 380px;
}

:is(.button, .content__video-card):active {
  background-color: rgba(84, 80, 80, 1);
}

:is(
    .button,
    .search-form__label:has(input[type="checkbox"]),
    .content__video-card
  ):hover {
  text-decoration: underline;
  color: #fff;
}

.search-form__fieldset-title {
  font-family: "Fira Sans Condensed", sans-serif;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 18px;
}

.search-form__label {
  width: fit-content;
  display: flex;
  align-items: center ;
  gap: 5px;
}

.search-form__label:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
  color: #fff;
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  min-width: 212px;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5px;
}

.search-form__checkbox:checked + span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-form__checkbox:checked + span::before {
  content: "";
  display: block;
  background-color: #fff;
  width: 15px;
  height: 15px;
  border: 1px solid #fff;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__pseudo-checkbox {
  display: block;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  cursor: pointer;
}

.search-form__label-text {
  font-family: "Fira Sans Condensed", sans-serif;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 18px;
  cursor: pointer;
}

.content__video-card-description-container {
  width: 0;
  color: #fff;
  flex: 1 1 auto;
}

.content__video-card-thumbnail {
  height: 107px;
  object-fit: cover;
  object-position: center;
  flex: 0 0 auto;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card-title {
  font-size: 30px;
  font-family: Oswald, sans-serif;
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content__video-card-description {
  font-family: "Fira Sans Condensed", sans-serif;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 18px;
  line-height: 90%;
}